doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href = "./style.css")
    title Document
    body 
      .wrapper
        header
          nav.menu-container 
            nav.menu.menu-left 
              img.logo(src="./img/logo.png" alt="logo")
              nav.menu__elem Чему вы научитесь
              nav.menu__elem(href="" value="Процесс обучения") Процесс обучения
              nav.menu__elem Стоимость
              nav.menu__elem Контакты

            nav.menu.menu-right 
                        nav.menu__elem--right Регистрация
                        button.btn--rounded.button--blue Войти

                            


        main.main 
          section.block1 
            h1.block1__title.
             Школа <strong class = "strong--quetes">программирования</strong> для тех, кому нужны реальные навыки,а не просто сертификат
            
            p Пройдите тестирование, чтобы получить доступ к бесплатным вводным урокам
            button.button--rounded(type = "button") Пройти тестирование
            img.block1__img(src="./img/bigPC.png", alt="PC")
            .button-down 
          section.block2 
            h1.block2__title Какие технологии вы изучите:
            main.block2__content 
              img(src="./img/block2-img.jpg", alt="PC").block2__img 
            .block2__buttons 
              button.btn Язык программирования Python
              button Сети
              button Базы данных
              button Фреймворки Flack и Django
              button Отладка и тестирование
              button Docker
              button Git
            <div id="like_button_container"></div>
              <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
      <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

      <!-- Load our React component. -->
      <script src="like_button.js"></script>      
