
@font-face {
  font-family: Gilroy;
  src: url("fonts/Gilroy-Regular/Gilroy-Regular/Gilroy-Regular.ttf");
}

@font-face {
  font-family: gilroy-semibold;
  src: url("./fonts/gilroy-semibold.ttf");
}

.block2__buttons:nth-child(1) {
  background-color: blue;
}

.block2__buttons:nth-child(2) {
  background-color: blue;
}

.block2__buttons:nth-child(3) {
  background-color: blue;
}

.block2__buttons:nth-child(4) {
  background-color: blue;
}

.block2__buttons:nth-child(5) {
  background-color: blue;
}

.block2__buttons:nth-child(6) {
  background-color: blue;
}

.block2__buttons:nth-child(7) {
  background-color: blue;
}

:root {
  --orange: #F15525;
  --blue: #38BFF2;
  --dark-blue: #5096FF;
  --dark-yellow:#FFB359;
  --light-red: #FF6F50;
  --light-green: #4BD071;
  --light-blue2: #50C0FF;
  --violet: #4B77B9;
  --purle: #AF93FF;
}

.wrapper {
  width: 1400px;
  margin: 0 auto;
  padding: 0 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button--rounded {
  color: white;
  background: var(--orange);
  width: 321px;
  height: 70px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 96.69%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 87px;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 51px;
}

.menu {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 104.4%;
  /* identical to box height, or 14px */
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 70px;
  margin-left: 21px;
}

.menu__elem {
  margin-right: 41px;
}

.menu__elem--right {
  margin-right: 15px;
}

.btn--rounded {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 104.4%;
  color: white;
  background-color: var(--blue);
  width: 77.9px;
  height: 30.73px;
  border-radius: 34px;
  border: none;
  background-repeat: no-repeat;
  text-indent: 27.62px;
}

.button--blue {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 104.4%;
  color: white;
  background-color: var(--blue);
  width: 77.9px;
  height: 30.73px;
  border-radius: 34px;
  border: none;
  background-image: url(./img/arrow-right.png);
  background-position: 15px;
  background-size: 8.56px 7.87px;
  background-repeat: no-repeat;
  text-indent: 27.62px;
}

.strong--quetes:before {
  content: '{';
  color: var(--orange);
}

.strong--quetes::after {
  content: '}';
  color: var(--orange);
  font-weight: bold;
}

.block1__img {
  float: right;
}

.block1 {
  background-color: #d6f2ff;
  position: relative;
  height: 555px;
}

.block1 p {
  display: block;
  width: 365.22px;
  margin: 45px 0 18.5px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

.block1 img {
  right: 9.2%;
  top: 60px;
  position: absolute;
}

.block1__title {
  width: 638px;
  height: 185px;
  margin-top: 70px;
  height: 185px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 46px;
  /* or 100% */
  color: #22253B;
}

.button-down {
  background-image: url(./img/arrow-down.png), url("./img/button-down.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0px;
  left: 50%;
  right: 50%;
  width: 37px;
  height: 37px;
  margin: 0 auto;
}

.block2__title {
  margin-bottom: 35px;
  font-family: gilroy-semiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 46px;
  /* identical to box height, or 100% */
  text-align: center;
  color: #22253B;
}

.block2__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block2__buttons * {
  width: 311px;
  height: 45.13px;
}

.block2__buttons *:nth-child(1) {
  background-color: var(--dark-blue);
}

.block2__buttons *:nth-child(2) {
  background-color: var(--dark-yellow);
}
/*# sourceMappingURL=style.css.map */