.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 538px;
	height: 93px;
	background: #ffffff;
	border-radius: 110px;
	margin: 38px auto 101px auto;
	padding: 12px 37px 12px 14px;
	gap: 0px 24px;
}
