.block{
  min-height: 63px;
  display: flex;
  justify-content: flex-start;
  align-items:center;
  gap: 29px;
}
.text{
  max-width: 300px;
}
.img {
  height: 100%;
  object-fit: auto 100%;
}
.container{
  display: flex;
  justify-content: flex-start;
  gap: 69px;
}
