.block{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: rgb(0, 255, 98);
  
}
.text{
  max-width: 300px;
}
.img {
  object-fit: none;
}
.container{
  display: flex;
  justify-content: flex-start;
  gap: 69px;
}
